#test_count,#test_status {
  border-collapse: collapse;
  width: 100%;
  margin-bottom:50px
}

#test_count,#test_status  td, #test_count,#test_status  th {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
}

#test_status  tr:nth-child(even){background-color: #f2f2f2;}

#test_count,#test_status  tr:hover {background-color: #ddd;}

#test_count,#test_status  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00BFA5;
  color: black;
}